body {
    background-color: black;
    color: #E7E9EA;
}
.large {
    position: relative;
    top: 5px;
    left: 110px;
    font-size: 20px;
    cursor: pointer;
}
.large1 {
    position: relative;
    left: 110px;
    font-size: 20px;
    padding-top: 30px;
    cursor: pointer;
}
.large2 {
    position: relative;
    left: 110px;
    font-size: 20px;
    padding-top: 30px;
    cursor: pointer;
}
.large3 {
    position: relative;
    left: 110px;
    font-size: 20px;
    padding-top: 30px;
    cursor: pointer;
}
.large4 {
    position: relative;
    left: 110px;
    font-size: 20px;
    padding-top: 30px;
    cursor: pointer;
}
.large5 {
    position: relative;
    left: 110px;
    font-size: 20px;
    padding-top: 30px;
    cursor: pointer;
}
.large6 {
    position: relative;
    left: 110px;
    font-size: 20px;
    padding-top: 30px;
    cursor: pointer;
}
.large7 {
    position: relative;
    left: 110px;
    font-size: 20px;
    padding-top: 30px;
    cursor: pointer;
}
.large8 {
    position: relative;
    left: 110px;
    font-size: 20px;
    padding-top: 30px;
    cursor: pointer;
}
.large9 {
    position: relative;
    left: 110px;
    font-size: 20px;
    padding-top: 30px;
    cursor: pointer;
}
.large10 {
    position: relative;
    left: 110px;
    font-size: 20px;
    padding-top: 30px;
    cursor: pointer;
}
.large11 {
    position: relative;
    left: 110px;
    font-size: 20px;
    padding-top: 30px;
    cursor: pointer;
}
.large12 {
    position: relative;
    left: 110px;
    font-size: 20px;
    padding-top: 30px;
    cursor: pointer;
}